<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="subHeader">

    <header class="jumbotron subhead">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo-margin">
                    <img src="images/ms-logo-4.png" height="65px" width="185px"/>
                </div>
                <div class="col-md-9">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-content">
                                    <div>
                                        <h3 class="heading-color">Easier than ever to fulfill the most important commandment
                                            of Allah</h3>
                                        <span>The masjid is within 5 to 10 mins of driving distance from the surrounding community and observes all five prayers daily.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                        <h3 class="heading-color">Preparing our next generation</h3>
                                        <span>The masjid offers weekly Islamic teachings to girls between the ages 5 to 8 every Sunday</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                        <h3 class="heading-color">Generation of Islamic Scholars and Huffaz</h3>
                                        <span>Coming very soon the school for boys offering classes of Islamic Studies and Nazera &amp; Hifz</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- Carousel -->


                </div>
            </div>


        </div>
    </header>

</div>
</body>
</html>