<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                layout:decorate="layout"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
<div layout:fragment="content">

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title heading-color">Assalaamualaikum WRWB</h3>
        </div>
        <div class="panel-body">
            <h4>Ahlan wa sahlan!!!</h4> Alhamdulillah daily and Juma'a (@ 1:30pm all year) salaats are performed here.
            <p/>
            <p>In sha Allah we'll be following the local (USA) moonsighting (hilal) for all the islamic months (<a
                    href="http://www.chicagohilal.org" target="_chicagohilal">www.chicagohilal.org</a>).</p>
            <p/>
            <p>JazakAllahu Khayran</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title heading-color">Future Plans</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/land.png" class="future-images img-thumbnail"/>
                </div>
                <div class="col-sm-6"><span class="pull-right">
		    	<img src="images/masjid.png" class="future-images img-thumbnail"/>
		    </span></div>
            </div>
            <div class="row">
                <div class="col-sm-12 pull-center">
                    <p>The Muslim population is blossoming at a very rapid pace in West Des Moines, Waukee, Urbundale
                        and Clive, which is presenting lot of challenges at masjid Sahabah due to very limited space and
                        resources. To accommodate the Islamic needs of Muslims we have signed an agreement and are
                        planning to purchase a land of 0.94 Acre Inshallah. Architectural plans for the construction are
                        also in progress and are being finalized.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title heading-color">Announcements</h3>
        </div>
        <div class="panel-body">

            <div id="iqamatimes">
                <h4 id="iqamaTimesHeader">Iqama Times</h4>
                <table class="table table-bordered table-hover" id="iqamatimestable">
                    <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>Fajr</th>
                        <th>Zuhr</th>
                        <th>Asr</th>
                        <th>Maghrib</th>
                        <th>Isha</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div id="twitterfeed">
                <a class="twitter-timeline" data-width="50%" data-height="200px" data-chrome="nofooter noheader"
                   href="https://twitter.com/sahabahservices"
                   data-tweet-limit="1">
                    Tweets by @sahabahservices</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title heading-color">External Announcements</h3>
        </div>
        <div class="panel-body">

            <div id="twitterfeed">
                <a class="twitter-timeline" data-width="50%" data-height="300px" data-chrome="nofooter noheader"
                   href="https://twitter.com/chicagohilal"
                   data-tweet-limit="1">
                    Tweets by @chicagohilal</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <!-- <a class="twitter-timeline" data-width="60%" data-height="300px" data-tweet-limit="1" data-chrome="nofooter noheader"  href="https://twitter.com/search?q=from%3Achicagohilal" data-widget-id="775098801103081472">Tweets about from:chicagohilal</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                -->
            </div>
            <p/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title heading-color">Location</h3>
        </div>
        <div class="panel-body">

            <div id="location">
                <iframe width="400" height="350" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=14225%20University%20Ave%20%23270%2C%20Waukee%2C%20IA%2050263%2C%20United%20States&key=AIzaSyD2xetCl4r0SQNAZOkXeROX96mGhNp4XzI"
                        allowfullscreen>
                </iframe>
            </div>
            <p/>
        </div>
    </div>
</div>

</div>
</body>
</html>