<!DOCTYPE html>

<html lang="en" layout:decorate="~{layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
<div layout:fragment="content">


	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title heading-color">Current Programs</h3>
	  </div>
	  <div class="panel-body">
	    <p/>
	    <p>Alhumdulillah for the last 5 years the following programs and activities haven been conducting in a very limited rented office space (11000 sq ft)</p>
	    <p/>
	    <h4>Educational Programs</h4>
	    
			<div>
				<ul>
		  			<li>Learn how to read the Quran with Tajweed (Nazirah)</li>
		  			<li>Tajweed - The science of reciting the Quran correctly</li>
					<li>Memorization of the Quran (Hifz)</li>
					<li>Fiqh Classes</li>  
				</ul>
			</div>	    
	    <h4>Other Activities</h4>
	    
			<div>
				<ul>
					<li>Daily 5 times Salah</li>
					<li>Friday Prayers</li>
					<li>Presently Masjid Sahabah arranges Huffaz for Taraweeh during Ramadan</li>
					<li>Daily Hadith session for men</li>
					<li>Weekly Hadith session for women</li>
					<li>Separate weekly Islamic teaching for girls and boys</li>
					<li>Weekly Dawah program</li>
					<li>Islamic Counselling</li>  
				</ul>
			</div>	    
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title heading-color">Future Programs</h3>
	  </div>
	  <div class="panel-body">
	  <p>The Muslim community has increased tremendously in the recent times due to which the following needs are required</p>
	    <h4>Future Activities</h4>
	    
			<div>
				<ul>
					<li>300+ person space for Salaat</li>
					<li>Ladies space for Salaat (currently not available)</li>
					<li>Community Event space</li>
					<li>Wudu Area</li>
					<li>Islamic Library</li>
					<li>Activity and Islamic learning space for children</li>
					<li>Funeral services space</li>
					<li>Parking Lot</li>  
				</ul>
			</div>			
	  </div>
	</div>
	






</div>
</body>
</html>